@import url("https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: lightgray;
}

nav {
  position: sticky;
}

h2 {
  font-family: "Trade Winds", cursive;
}

button {
  font-family: "Trade Winds", cursive;
}

li {
  font-family: "Trade Winds", cursive;
}

h3 {
  font-family: "Trade Winds", cursive;
}

p {
  color: white;
  margin: 20px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  p {
    display: flex;
  }
}
